/*bloques concretos de nuestro documento, navegador, botones, recuadros de utilidades diversas, migas de pan, cabecera, buscador, botones sociales, etc.*/

.sf-card {
    background-color: var(--sgf-color-white);
    box-shadow: 0 4px 4px 0px #0000001a;
    border-radius: 16px;
    padding: 24px;
    margin: 0 2px 40px;
    
    ion-card-title {
        color: var(--sf-color-title-grey);
        font-family: 'Ubuntu-Medium';
    }
}

.sf-page {
    margin-left: 1.5rem;
}