/*declaración de variables y otras declaraciones de los preprocesadores.*/

$font-path: "../assets/fonts/";

@mixin font-face($font-family-name, $file-name) {
    @font-face {
      font-family: $font-family-name;
      src: url("#{$font-path}#{$file-name}.ttf");
    }
}

@include font-face(ubuntu-regular, 'Ubuntu-Regular');
@include font-face(ubuntu-medium, 'Ubuntu-Medium');
@include font-face(ubuntu-bold, 'Ubuntu-Bold');


/*COLORS */

:root {
  --ion-background-color: #F5FBFF;
  --ion-text-color: #626463;
  --ion-font-family: 'Ubuntu-Regular';
  
  --sf-color-white: #fff;
  --sf-color-primary: #022C4E;
  --sf-color-secondary:  #EE9F2E;
  --sf-color-tertiary:  #58C0D4;

  --sf-color-tag-primary: #0274B3;
  --sf-color-tag-secondary: #CE542C;
  --sf-color-tag-tertiary: #1A8289;
  --sf-color-tag-quaternary: #41A0E5;

  --sf-color-sidebar-bg: #EBF6FE;
  --sf-color-user-bg: #EBF6FE;
  --sf-color-button-outline: #3677A6;

  --sf-color-title-grey: #424150;
  --sf-color-placeholder-grey: #959595;
}


$breakpoint-phone: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-desktop: 1200px;