// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/



:root {
    --ion-background-color: #F5FBFF;
    --ion-text-color: #626463;
    --ion-font-family: 'Ubuntu-Regular'
}
